body {
    margin: 0px;
}

.page-container {
    display: flex;
    font-family: Helvetica, sans-serif;
}

.image-container {

    flex-basis: 40vw;

    height: 100vh;

    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;

}

.form-container {
    flex: 1 1 auto; 

}

.sign-up-form {
    display: flex;
    flex-wrap: wrap;
    
}

.input-field {
    width: 50%;
}

.error {
    border-color: red;
}

.form-container h2{
    padding-left: 3rem;
    padding-right: 10rem;
}

.sign-up-form{
    padding-left: 3rem;    
} 

.text-input-container{
    border: 2px solid black;
}

form h2 {
    padding-left: 3rem;
}