body {
    margin: 0px;
    
}

.page-container{
    display: flex;
}

.image-container{

    flex-shrink: 2;
}

img {
    max-height: 100vh;
    width: auto;

}

.form-container{
    display: flex;
    flex-direction: column;
}

.sign-up-form{
    display: flex;
}

.form-column{
    padding: 20px;
}

input {
    width: 100%;
}